<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jdinvoice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bf90a353-1179-45a4-a6da-629aff9d657a/resourceGroups/rginvoicejd/providers/Microsoft.Web/sites/jdinvoice</ResourceId>
    <UserName>$jdinvoice</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://jdinvoice.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>